<header>
  <div class="card">
    <h1>Nossas Lojas</h1>
  </div>
  <img src="/assets/mapasempre.png" class="imgpos" alt="Mapa Sempre" />
</header>
<br />
<br />
<br />
<div class="ajust">
  <div class="box border-radius border ajust">
    <h2 class="title01">Abaeté</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Rua Frei Orlando, 484, Centro.</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Aguanil</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Travessa da Rua José Gibram, 80 B Praça do SICOOB.</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Araújos</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Avenida Brasil, 1251 Centro</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Arcos</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Av. Magalhães Pinto, 618 Centro</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Belo Vale</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Rua Gonçalo Álvares 235 Centro.</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Bom Despacho</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Rua Clodoaldo de Oliveira, 326 Centro</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Bom Sucesso</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Praça Getúlio Vargas, 139 B Centro</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Bonfim</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Av Governador Bendito Valadares, 230 . Centro</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Brumadinho</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Rua Presidente Getúlio Vargas, 386, LJ 02, Centro.</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Campo Belo</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">
      Rua Santos Dumont n°432, sala 102, 1º andar – Centro
    </h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Cana Verde</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Rua Carmelita Carvalho Garcia, 175 Centro</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Abaeté</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Rua Frei Orlando, 484, Centro.</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Candeias</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Avenida Dezessete de Dezembro, 517 . Centro</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Abaeté</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Rua Frei Orlando, 484, Centro.</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Aguanil</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Travessa da Rua José Gibram, 80 B Praça do SICOOB.</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Araújos</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Avenida Brasil, 1251 Centro</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Arcos</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Av. Magalhães Pinto, 618 Centro</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Belo Vale</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Rua Gonçalo Álvares 235 Centro.</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Bom Despacho</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Rua Clodoaldo de Oliveira, 326 Centro</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Bom Sucesso</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Praça Getúlio Vargas, 139 B Centro</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Bonfim</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Av Governador Bendito Valadares, 230 . Centro</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Brumadinho</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Rua Presidente Getúlio Vargas, 386, LJ 02, Centro.</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Campo Belo</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">
      Rua Santos Dumont n°432, sala 102, 1º andar – Centro
    </h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Cana Verde</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Rua Carmelita Carvalho Garcia, 175 Centro</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Abaeté</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Rua Frei Orlando, 484, Centro.</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Candeias</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Avenida Dezessete de Dezembro, 517 . Centro</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Bonfim</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Av Governador Bendito Valadares, 230 . Centro</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Brumadinho</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Rua Presidente Getúlio Vargas, 386, LJ 02, Centro.</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Campo Belo</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">
      Rua Santos Dumont n°432, sala 102, 1º andar – Centro
    </h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Cana Verde</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Rua Carmelita Carvalho Garcia, 175 Centro</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Abaeté</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Rua Frei Orlando, 484, Centro.</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Candeias</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Avenida Dezessete de Dezembro, 517 . Centro</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Bonfim</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Av Governador Bendito Valadares, 230 . Centro</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Brumadinho</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Rua Presidente Getúlio Vargas, 386, LJ 02, Centro.</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Campo Belo</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">
      Rua Santos Dumont n°432, sala 102, 1º andar – Centro
    </h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Cana Verde</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Rua Carmelita Carvalho Garcia, 175 Centro</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Abaeté</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Rua Frei Orlando, 484, Centro.</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Candeias</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Avenida Dezessete de Dezembro, 517 . Centro</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Candeias</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Avenida Dezessete de Dezembro, 517 . Centro</h2>
  </div>

  <div class="box border-radius border ajust">
    <h2 class="title01">Candeias</h2>
    <h2 class="title02">Loja Oficial</h2>
    <h2 class="title03">Avenida Dezessete de Dezembro, 517 . Centro</h2>
  </div>
</div>
