<br />
<h1>Serviços Digitais Sempre</h1>

<div class="card">
  <div class="serviçosimg" id="img01"></div>
  <h3>Sempre Educa</h3>
  <p>
    + de 100 cursos online profissionalizantes divididos em diversas áreas, com
    certificação inclusa.
  </p>
</div>

<div class="card">
  <br />
  <div class="serviçosimg" id="img02"></div>
  <h3>Sempre Card</h3>
  <p>
    Com o Sempre Card, você economiza em todas suas compras, de desconto em
    desconto, seu salário vai rendendo mais.
  </p>
</div>

<div class="card">
  <div class="serviçosimg" id="img03"></div>
  <h3>Paramout+</h3>
  <p>
    Programas exclusivos, séries premiadas, filmes, reality shows, conteúdo
    infantil e muito mais.
  </p>
</div>

<div class="card">
  <div class="serviçosimg" id="img04"></div>
  <h3>FS Hero</h3>
  <p>
    Navegue protegido de vírus que podem roubar suas senhas, arquivos e até ler
    suas conversas.
  </p>
</div>

<div class="card">
  <div class="serviçosimg" id="img05"></div>
  <h3>Kaspersky</h3>
  <p>
    Proteja seus computadores, tablets e telefones contra vírus, malware,
    ransomware e crimes cibernéticos.
  </p>
</div>

<div class="card">
  <div class="serviçosimg" id="img06"></div>
  <h3>Mumo</h3>

  <p>
    O serviço oferece diversas rádios online com diferentes estilos musicais,
    24h por dia e sem propagandas.
  </p>
</div>

<div class="card">
  <div class="serviçosimg" id="img07"></div>
  <h3>BeGamer</h3>
  <p>
    Fique por dentro de tudo que rola no universo dos games. Promoções, notícias
    em tempo real, podcasts, revistas e muito mais
  </p>
</div>

<div class="card">
  <div class="serviçosimg" id="img08"></div>
  <h3>BeBanca</h3>
  <p>
    Informações e notícias dos principais jornais do Brasil. Edições completas
    sobre política, economia, esportes, saúde e muito mais.
  </p>
</div>

<div class="card">
  <div class="serviçosimg" id="img09"></div>
  <h3>Noggin</h3>
  <p>
    Educação interativa e super divertida para as crianças em idade pré-escolar
    com os queridos personagens da Nick Jr.
  </p>
</div>

<div class="card">
  <div class="serviçosimg" id="img10"></div>
  <h3>TocaLivros</h3>
  <p>
    Escute milhares de audiolivros e audiobooks no seu iOS, Android ou PC. De
    obras sobre negócios e investimentos a livros infantis.
  </p>
</div>
