<header class="section">
  <h1>Canais de Atendimento ao Cliente</h1>

  <p>
    A Sempre Internet busca a excelência e o aprimoramento constante do
    atendimento junto aos seus clientes. Para isso deixamos disponíveis diversos
    meios para contato e aqui informamos os canais e o tempo médio para o início
    de cada atendimento de sua solicitação.
  </p>
</header>

<div class="section01">
  <div class="relogioimg">
    <img src="/assets/relogio01.png" class="imgpos" alt="Relógio01" />
    <div class="infosatend">
      <h2>Por Telefone/E-mail</h2>
      <h4>Tempo médio de atendimento: 2 Minutos</h4>
      <h3>SUPORTE RESIDENCIAL E COMERCIAL: 0800 300 0800</h3>
      <h3>
        SEGUNDA À SEGUNDA DE 7H ÀS 22H. VOCÊ PODERÁ obter suporte técnico.
      </h3>
      <h3>FINANCEIRO RESIDENCIAL E COMERCIAL: 0800 300 0800</h3>
      <h3>
        SEGUNDA À SEXTA DE 8H ÀS 20H40 E AOS SÁBADOS DE 8H ÀS 14H20. VOCÊ PODERÁ
        negociar seus débitos, solicitar 2ª via de faturas, entre outros.
      </h3>
      <h3>OUVIDORIA: 0800 300 0800 | ouvidoria@sempre.net.br</h3>
      <h3>SEGUNDA À QUINTA DE 8H ÀS 18H E SEXTA DE 8H ÀS 17H.</h3>
      <h3>CANCELAMENTO: 0800 300 0800</h3>
      <h3>SEGUNDA À SEXTA DE 8H ÀS 20H40 E AOS SÁBADOS DE 8H ÀS 14H20.</h3>
    </div>
  </div>
</div>
<hr />
<div class="section02">
  <div class="relogioimg02">
    <img src="/assets/relogio2.png" class="imgpos02" alt="Relógio02" />
    <div class="infosatend">
      <br />
      <br />
      <h2>Loja</h2>
      <h4>Tempo médio de atendimento: 5 Minutos</h4>
      <h3>SEGUNDA À SEXTA DE 8H ÀS 18H SÁBADO DE 8H ÀS 12H</h3>
      <h3>
        VOCÊ PODERÁ obter informações sobre planos, novas assinaturas, consulta
        de promoções, sugestões, upgrade e informações sobre demais setores e
        serviços.
      </h3>
    </div>
  </div>
</div>
<hr />
<div class="section03">
  <div class="relogioimg03">
    <img src="/assets/relogio3.png" class="imgpos03" alt="Relógio03" />
    <div class="infosatend">
      <br />
      <br />
      <h2>PELO WHATSAPP 0800 300 0800</h2>
      <h4>Tempo médio de atendimento: 60 Minutos</h4>
      <h3>Loja</h3>
      <h3>
        SEGUNDA À SEXTA DE 8H ÀS 18H SÁBADO DE 8H ÀS 12H VOCÊ PODERÁ realizar
        novas assinaturas, consultar promoções, cotar periféricos e enviar
        documentos digitalizados.
      </h3>
      <h3>
        SUPORTE RESIDENCIAL E COMERCIAL SEGUNDA À SEGUNDA DE 7H ÀS 22H. VOCÊ
        PODERÁ obter suporte técnico residencial, 2° via, atendimento primário
        financeiro entre outros.
      </h3>
    </div>
  </div>
</div>
<hr />
<div class="section04">
  <div class="relogioimg04">
    <img src="/assets/relogio4.png" class="imgpos04" alt="Relógio04" />
    <div class="infosatend">
      <br />
      <br />
      <br />
      <br />
      <h2>PELO SITE sempreInternet.com.br</h2>
      <h4>Tempo médio de atendimento: 6 Horas</h4>
      <h3>
        Você poderá testar a velocidade da sua conxão, 2° via de boleto, gestão
        da sua conta, avisos, informativos, esclarecer dúvidas, enviar segestões
        e ouvidoria.
      </h3>
    </div>
  </div>
</div>
