<header class="main-banner">
  <section class="section01">
    <div>
      <h1>Internet Fibra em Betim é na Sempre!</h1>
      <p>
        Internet fibra banda larga + Serviços Digitais inclusos.<br />Leve sua
        experiência em conexão para outro nível.
      </p>
      <p>Escolha o plano internet fibra ideal + seviços digitais preferidos.</p>
    </div>
  </section>
</header>
<div class="space">
  <div class="plansstyle">
    <main class="container02">
      <section class="cardplanos">
        <div class="card">
          <div class="planosimg" id="img01"></div>
          <ul>
            <br />
            <br />
            <li>E-mail</li>
            <li>+1 Serviço Digital</li>
          </ul>
          <a routerLink="/digitalservices" class="btn"
            >Serviços Digitais Disponiveis</a
          >
          <br />

          <a router class="btn">Quero teste</a>
        </div>

        <div class="card">
          <div class="planosimg" id="img02"></div>
          <ul>
            <li>Sempre Card</li>
            <li>Wifi Turbo</li>
            <li>E-mail</li>
            <li>+1 Serviço Digital</li>
          </ul>
          <a routerLink="/digitalservices" class="btn"
            >Serviços Digitais Disponiveis</a
          >
          <br />
          <a
            href="https://sempreinternet.com.br/formulario-planos-cidade/?cidade=BETIM&plano=400%20MEGA"
            class="btn"
            >Quero teste</a
          >
        </div>
        <div class="card">
          <div class="planosimg" id="img03"></div>
          <ul>
            <li>Sem taxa de ativação</li>
            <li>Sempre Card</li>
            <li>E-mail</li>
            <li>+2 Serviços Digitais</li>
          </ul>
          <a routerLink="/digitalservices" class="btn"
            >Serviços Digitais Disponiveis</a
          >
          <br />
          <a
            href="https://sempreinternet.com.br/formulario-planos-cidade/?cidade=BETIM&plano=400%20MEGA"
            class="btn"
            >Quero teste</a
          >
        </div>

        <div class="card">
          <div class="planosimg" id="img04"></div>
          <ul>
            <li>Sem taxa de ativação</li>
            <li>Sempre Card</li>
            <li>E-mail</li>
            <li>+3 Serviços Digitais</li>
          </ul>
          <a routerLink="/digitalservices" class="btn"
            >Serviços Digitais Disponiveis</a
          >
          <br />
          <a
            href="https://sempreinternet.com.br/formulario-planos-cidade/?cidade=BETIM&plano=400%20MEGA"
            class="btn"
            >Quero teste</a
          >
        </div>

        <div class="card">
          <div class="planosimg" id="img05"></div>
          <ul>
            <li>Sem taxa de ativação</li>
            <li>Sempre Card</li>
            <li>E-mail</li>
            <li>+4 Serviços Digitais</li>
          </ul>
          <a routerLink="/digitalservices" class="btn"
            >Serviços Digitais Disponiveis</a
          >
          <br />
          <a
            href="https://sempreinternet.com.br/formulario-planos-cidade/?cidade=BETIM&plano=400%20MEGA"
            class="btn"
            >Quero teste</a
          >
        </div>
      </section>
    </main>
  </div>
</div>
