<h2>Dúvidas e sugestões?</h2>
<p>Preencha seus dados, e envie-nos uma mensagen com o que precisa.</p>

<form (ngSubmit)="submit()" [formGroup]="contactpageform" #formDir="ngForm">
  <div class="space">
    <div class="form-group">
      <label for="nome">Nome </label>
      <input
        type="text"
        placeholder="Digite seu nome completo"
        formControlName="nome"
        required
      />
      <div *ngIf="nome.invalid && formDir.submitted" class="validation-error">
        <p *ngIf="nome.errors?.['required']">O nome completo é obrigatório.</p>
      </div>
    </div>

    <div class="form-group">
      <label for="E-mail">E-mail</label>
      <input
        type="email"
        placeholder="Digite seu e-mail principal"
        formControlName="email"
        required
      />
      <div *ngIf="email.invalid && formDir.submitted" class="validation-error">
        <p *ngIf="email.errors?.['required']">O e-mail é obrigatório.</p>
      </div>
    </div>

    <div class="form-group">
      <label for="Setor">Setor</label>
      <input
        type="text"
        placeholder="Informe qual setor você quer enviar a solicitação"
        formControlName="setor"
        required
      />
      <div *ngIf="setor.invalid && formDir.submitted" class="validation-error">
        <p *ngIf="setor.errors?.['required']">O setor é obrigatório.</p>
      </div>
    </div>

    <div class="form-group">
      <label for="telefone">Telefone</label>
      <input
        type="number"
        placeholder="Digite seu numero de telefone"
        formControlName="telefone"
        required
      />
      <div
        *ngIf="telefone.invalid && formDir.submitted"
        class="validation-error"
      >
        <p *ngIf="telefone.errors?.['required']">O telefone é obrigatório.</p>
      </div>
    </div>

    <div class="form-group">
      <label for="Cidade">Cidade</label>
      <input
        type="text"
        placeholder="De qual cidade você fala?"
        formControlName="cidade"
        required
      />
      <div *ngIf="cidade.invalid && formDir.submitted" class="validation-error">
        <p *ngIf="cidade.errors?.['required']">A cidade é obrigatória.</p>
      </div>
    </div>
    <input type="submit" value="{{ btnText }}" />
  </div>
</form>
